.page{
  @include page();
}
.pageL{
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  transform-style: preserve-3d;
}
.page-login{
  background: none repeat scroll 0 0 $softgreen;
}
.page-boards{
  background: none repeat scroll 0 0 $softblue;
}
.page-notes{
  background: none repeat scroll 0 0 $pastegreen;
}

.login-form{
  background-color: white;
  border-radius: 60px;
  border: 0 solid transparent;
  position: absolute;
  top: 30%;
  left: 38%;
  @include span(3 of 12);
  height: 40%;
  p{
    color: red;
    position: absolute;
    top: 41%;
    left: 24%;
    font-size: 1em;
  }
  h1{
    color: $softgreen;
    position: absolute;
    top: 12%;
    left: 25%;
  }
  input[type=text]{
    top:50%;
    @include textbox();
  }
  input[type=password]{
    top:70%;
    @include textbox();
  }
  button{
    @include invisible-button();
    position: absolute;
    top: 83%;
    left: 46%;
    @include single-transition(all, 500ms, ease-out);
    &:hover{
      color: $softgreen;
      @include translateY(0.2em);
      cursor: pointer;
    }
  }
}
.row{
  clear: both;
}
.bottomspace{
  margin-bottom: 3%;
}
.home{
  #logout{
    @include invisible-button();
    cursor: pointer;
    @include span(last 1);
    margin-top: 0.5%;
  }
  h1{
    color: whitesmoke;
    @include span(isolate 3 at 2);
    margin-top: 2%;
    margin-bottom: 2%;
  }
  section{
    @include break;
    .board-container{
      @include span(6 wide);
      @include pre(6%);
      min-height: 200px;
      margin-bottom: 3%;
      border: none;
      @include border-radius(15px);
      background: url(../images/noise.png);
      background-repeat: repeat;
      .title-container{
        -webkit-box-shadow: 0 8px 6px -6px gray;
        -moz-box-shadow: 0 8px 6px -6px grey;
        box-shadow: 0 8px 6px -6px grey;
        padding-bottom: 1%;
        .board-icons{
          @include span(last 6);
        }
        input{
          background: inherit;
          border: none;
          margin-left: 2%;
          font-size: 1.5rem;
          width: 71%;
          opacity: .9;
        }
        a{
          margin-left: 2%;
          margin-bottom: 1%;
          color: inherit;
          @include single-transition(all, 200ms, ease-out);
          &:hover{
            color: mediumspringgreen;
          }
        }
        .trashBoard{
          @include invisible-button();
          margin-left: 10%;
          cursor: pointer;
          @include single-transition(all, 200ms, ease-out);
          &:hover{
            color: orangered;
          }
        }
      }
      .board-description{
        padding-top: 4%;
        textarea{
          background: inherit;
          width: 100%;
          height: 155px;
          border: none;
          opacity: .9;
        }
      }
      form{
        button{
          @include invisible-button();
          margin-top: 1%;
          @include span(last 3);
          cursor: pointer;
          margin-right: 1%;
          @include single-transition(all, 200ms, ease-out);
          &:hover{
            color: mediumspringgreen;
          }
        }
      }
    }
  }
}
.notes{
  h1{
    color: whitesmoke;
    @include span(isolate 3 at 2);
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

.notes-section{
  @include break;
}
.note-container{
  @include span(6 wide);
  @include pre(6%);
  min-height: 200px;
  margin-bottom: 3%;
  border: none;
  @include border-radius(15px);
  @include single-transition(all, 400ms, ease-out);
  .note-icons{
    width: 100%;
    height: 40px;
    .trash, .add{
      @include span(first 3);
      @include invisible-button();
      @include single-transition(all, 200ms, ease-out);
      margin-top: 1.5%;
    }
    .trash:hover{
      color: orangered;
      cursor: pointer;
    }
    .add:hover{
      color: mediumspringgreen;
      cursor: pointer;
    }
    ng-color-picker{
      @include span(last 12);
      ul{
        margin-top: 5.5%;
      }
      li {
        width:25px;
        height:25px;
        box-sizing:border-box;
        display:inline-block;
        margin-right: 4%;
      }
      .selected {
        border: 1px solid #333;
      }
    }
  }
  .note-description{
    @include break;
    textarea{
      background: inherit;
      width: 100%;
      height: 155px;
      border: none;
    }
  }
}

.ajs-ok, .ajs-cancel{
  cursor: pointer;
}